body{
    background-color: #242942;
}
.te{
    color: #fff;
}
.i1{
    text-align: start;
    padding-left: 100px;
}
.c1{
    display: flex;
    justify-content: start;
    margin: 20px;
    text-align: left;
    padding-left: 100px;
}
.t1{
    margin-right: 399px;
}
.c2{
    display: flex;
    justify-content: start;
    margin: 20px;
    text-align: left;
    padding-left: 100px;
}
.t2{
    margin-right: 310px;
}
.c3{
    display: flex;
    justify-content: start;
    margin: 20px;
    text-align: left;
    padding-left: 100px;
}
.t3{
    margin-right: 295px;
}
.c4{
    display: flex;
    justify-content: start;
    margin: 20px;
    text-align: left;
    padding-left: 100px;
}
.t4{
    margin-right: 400px;
}
.p1{
    background-color: rgba(173, 173, 173, 0.801);
    width: 45%;
}
.p2{
    background-color: rgba(173, 173, 173, 0.801);
    width: 45%;
}
.p3{
    background-color: rgba(173, 173, 173, 0.801);
    width: 45%;
}
.p4{
    background-color: rgba(173, 173, 173, 0.801);
    width: 45%;
    height: 70px;
}
.botonc{
    border-style: solid;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-left: 30%;
    width: 40%;
    height: 60px;
    border-color: #F9D44E;
    background-color: #F9D44E;
    color: #242942;
}
@media screen and (max-width: 800px){
    .c1{
        display:contents;
        padding-left: 50px;
    }
    .t1{
        margin-left: 140px;
        margin-top: 30px;
    }
    .p1{
        margin-left: 140px;
    }
    .c2{
        display:contents;
        padding-left: 50px;
    }
    .t2{
        margin-left: 140px;
    }
    .p2{
        margin-left: 140px;
    }
    .c3{
        display:contents;
        padding-left: 50px;
    }
    .t3{
        margin-left: 140px;
    }
    .p3{
        margin-left: 140px;
    }
    .c4{
        display:contents;
        padding-left: 50px;
    }
    .t4{
        margin-left: 140px;
    }
    .p4{
        margin-left: 140px;
    }
    .botonc{
        margin-top: 30px;
        margin-left: 140px;
        width: 45%;
    }
}