*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 11vh;
  background: #242942;
  border-radius: 10px;
  margin: 30px;
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.1rem;
  margin: 0.3rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

.boton2{
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 0vh;
    right: 0;
    height: 100%;
    width: 100%;
    background: #242942;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    padding-top: 160px;
  }

  .boton2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .boton {
    display: none;
  }
}

.nav__active {
  transform: translateX(0%);
}


.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.nav-link{
  color: #ffffff;
  font-weight: 500;
  position: relative;
}

.nav-link:hover, .nav-link.activate{
  color:  #F9D44E;
}

.boton{
  background-color: #40B9C5;
  border-radius: 50px;
  background-color:#40B9C5;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px ;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}
.boton:hover{
  background-color: #F9D44E;
}


.boton2{
  background-color: #40B9C5;
  border-radius: 50px;
  background-color:#40B9C5;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px ;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}
.boton2:hover{
  background-color: #F9D44E;
}